config ZMK_BLE
    default y

config ZMK_USB
    default y

if SHIELD_ECORN_DONGLE

config ZMK_KEYBOARD_NAME
    default "eCorne Dongle"

endif

if SHIELD_ECORN_LEFT || SHIELD_ECORN_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_ECORN_DONGLE

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif